<!-- Introduction -->
<div class="relative mt-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1>
      <span
        class="block text-base text-center text-primary-500 font-semibold tracking-wide uppercase">{{'HOME.INTRODUCTION' | translate}}</span>
      <span class="mt-2 block text-2xl text-center text-nightBlue-500 dark:text-gray-100 leading-8 font-extrabold tracking-tight sm:text-2xl">{{'HOME.WHY_DID_I_CREATE_THIS_PROJECT' | translate}}</span>
    </h1>
  </div>
  <div class="mt-6 mx-auto">
    <p>{{'HOME.THIS_PROJECT_AIMS_TO_DISCOVER_THE' | translate}} <a class="text-primary-500 underline" href="https://newsapi.org/"
        rel="noreferrer" target="_blank">News API</a> {{'HOME.AND_INTEGRATE_IT_INTO_AN' | translate}} <a class="text-primary-500 underline"
        href="https://angular.io/" rel="noreferrer" target="_blank">Angular</a> {{'HOME.APPLICATION' | translate}} {{'HOME.THIS_PROJECT_IS_BUILT_WITH_THE_IDEA' | translate}}
        {{'HOME.THE_GOAL_IS_NOT_JUST_TO_OFFER' | translate}}
      <a class="text-primary-500 underline" href="https://material.angular.io/" rel="noreferrer" target="_blank">Angular
        Material</a> {{'HOME.AND' | translate}} <a class="text-primary-500 underline" href="https://tailwindcss.com/" rel="noreferrer"
        target="_blank">Tailwind CSS</a>, {{'HOME.BUT_TO_HAVE_A_GUIDE' | translate}}
    </p>
  </div>
</div>