<!-- Introduction -->
<div class="relative mt-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1>
      <span
        class="block text-base text-center text-primary-500 font-semibold tracking-wide uppercase">Introduction</span>
      <span class="mt-2 block text-2xl text-center text-nightBlue-500 dark:text-gray-100 leading-8 font-extrabold tracking-tight sm:text-2xl">Why did I create
        this project?</span>
    </h1>
  </div>
  <div class="mt-6 mx-auto">
    <p>This project aims to discover the <a class="text-primary-500 underline" href="https://newsapi.org/"
        rel="noreferrer" target="_blank">News API</a> and integrate it into an <a class="text-primary-500 underline"
        href="https://angular.io/" rel="noreferrer" target="_blank">Angular</a> application. This project is built
      with the idea of offering a starter kit for future Angular projects. The goal is not just to offer a layout with
      <a class="text-primary-500 underline" href="https://material.angular.io/" rel="noreferrer" target="_blank">Angular
        Material</a> and <a class="text-primary-500 underline" href="https://tailwindcss.com/" rel="noreferrer"
        target="_blank">Tailwind CSS</a>, but to have a guide composed of best practices to follow when creating an
      Angular application.
    </p>
  </div>
</div>