<!-- User profile -->
<div class="ml-3 relative">
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu"
            class="max-w-xs bg-nightBlue-500 flex items-center text-sm rounded-full hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
            id="user-menu-button" aria-expanded="false" aria-haspopup="true">
      <span class="inline-block relative">
        <span class="sr-only">Open user menu</span>
        <span class="absolute bottom-0 right-0 block h-2.5 w-2.5 rounded-full mr-px mb-px"></span>
        <span class="h-10 w-10 rounded-full">
          <mat-icon class="text-5xl -ml-1 pt-1 text-gray-300">account_circle</mat-icon>
        </span>
      </span>
    </button>
  </div>

</div>

<!-- Dropdown menu-->
<mat-menu #menu="matMenu" class="dark:bg-gray-600">
  <tw-toggle class="cursor-pointer group flex items-center px-4 py-2 text-sm" text="Dark mode" [checked]="checkedDarkMode" (click)="updateScheme()">
    <div class="mr-3">
      <div class="group flex items-center">
        <mat-icon class="h-6 w-6 mr-1.5 ">lightbulb</mat-icon>
        <span class="text-sm font-medium">Dark mode</span>
      </div>
    </div>
  </tw-toggle>
</mat-menu>
