<!-- User profile -->
<div class="ml-3 relative">
  <div>
    <button [matMenuTriggerFor]="menu"
      class="bg-nightBlue-500 px-2 pt-2 rounded-full text-gray-400 hover:text-gray-500  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>

<!-- Dropdown menu-->
<mat-menu #menu="matMenu" class="dark:bg-gray-600">
  <tw-toggle class="cursor-pointer group flex items-center px-4 py-2 text-sm" text="Dark mode"
    [checked]="checkedDarkMode" (click)="updateScheme()">
    <div class="mr-3">
      <div class="group flex items-center">
        <mat-icon class="h-6 w-6 mr-1.5 ">lightbulb</mat-icon>
        <span class="text-sm font-medium">{{ 'USER_PROFILE.DARK_MODE' | translate }}</span>
      </div>
    </div>
  </tw-toggle>
</mat-menu>