<!-- Header message -->
<div class="bg-primary-100 rounded-lg">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:py-8 lg:px-8 flex-col lg:items-center lg:justify-between">
    <h2 class="text-2xl font-extrabold tracking-tight text-nightBlue-500 md:text-3xl">
      <span class="block">Welcome to you!</span>
      <span class="block text-primary-500">Thank you for downloading this project 👍</span>
    </h2>
    <p class="mt-6 md:mt-8 text-base md:text-xl text-gray-500">On this page you will find a small documentation about
      this project.</p>
  </div>
</div>

<!-- Introduction -->
<app-home-introduction></app-home-introduction>

<!-- Installation -->
<app-home-installation></app-home-installation>

<!-- Technology -->
<app-home-technology></app-home-technology>

<!-- API -->
<app-home-api></app-home-api>

<!-- Project Structure -->
<app-home-project-structure></app-home-project-structure>

<!-- Tailwind CSS -->
<app-home-tailwindcss></app-home-tailwindcss>

<!-- Angular Material -->
<app-home-angular-material></app-home-angular-material>