<!-- Installation -->
<div class="relative mt-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1>
      <span
        class="block text-base text-center text-primary-500 font-semibold tracking-wide uppercase">Installation</span>
      <span class="mt-2 block text-2xl text-center text-nightBlue-500 dark:text-gray-100 leading-8 font-extrabold tracking-tight sm:text-2xl">How to launch
        the application?</span>
    </h1>
  </div>
  <div class="mt-6 mx-auto">
    <p>Open a console/terminal window and navigate to your workspace directory. You must be in the same folder as the
      package.json file to run the commands.</p>
  </div>
  <div class="mt-6 mx-auto">
    <p>Enter the following command to install the libraries in the project:</p>
  </div>
  <div class="mt-2 mx-auto">
    <pre><code class="rounded-lg" [highlight]="codeNpmInstall"></code></pre>
  </div>
  <div class="mt-6 mx-auto">
    <p>Once the installation process is complete, run the following command while remaining in your workspace directory:
    </p>
  </div>
  <div class="mt-2 mx-auto">
    <pre><code class="rounded-lg" [highlight]="codeNgServe"></code></pre>
  </div>
  <div class="mt-2 mx-auto">
    <p>The <strong>ng serve</strong> command starts the server.</p>
    <p>The <strong>-open</strong> option (or simply <strong>-o</strong>) automatically opens your browser on
      http://localhost:4200/.</p>
  </div>
</div>