<div class="relative mt-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1>
      <span class="block text-base text-center text-primary-500 font-semibold tracking-wide uppercase">{{ 'HOME.TECHNOLOGY' | translate }}</span>
      <span class="mt-2 block text-2xl text-center text-nightBlue-500 dark:text-gray-100 leading-8 font-extrabold tracking-tight sm:text-2xl">{{ 'HOME.WHAT_LIBRARIES_ARE_USED' | translate }}</span>
    </h1>
  </div>
  <div class="mt-6 mx-auto">
    <tw-alert [type]="'info'" [appearance]="'border'">
      <span twAlertTitle>{{ 'ALERT.INFO' | translate }}</span>
      {{ 'HOME.IT_IS_RECOMMENDED_THAT_YOU_REGULARLY_UPDATE' | translate }}
    </tw-alert>
  </div>
  <div class="mt-6 mx-auto">
    <ul class="list-disc ml-4">
      <li>Angular: <strong class="text-primary-500">12.2.11</strong></li>
      <li>Angular Material: <strong class="text-primary-500">12.2.11</strong></li>
      <li>Tailwind: <strong class="text-primary-500">2.2.17</strong></li>
      <li>Ngx-highlightjs: <strong class="text-primary-500">5.0.0</strong> ({{ 'HOME.THIS_PACKAGE_IS_ONLY_USED_TO_DISPLAY' | translate }})</li>
      <li>Ngx-translate/core: <strong class="text-primary-500">13.0.0</strong></li>
      <li>Ngx-translate/http-loader: <strong class="text-primary-500">6.0.0</strong></li>
    </ul>
  </div>
</div>