<!-- Tailwind CSS -->
<div class="relative mt-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1>
      <span class="block text-base text-center text-primary-500 font-semibold tracking-wide uppercase">{{ 'HOME_TAILWIND_CSS.TAILWIND_CSS' | translate }}</span>
      <span class="mt-2 block text-2xl text-center text-nightBlue-500 dark:text-gray-100 leading-8 font-extrabold tracking-tight sm:text-2xl">{{ 'HOME_TAILWIND_CSS.A_SET_OF_CLASSES' | translate }}</span>
    </h1>
  </div>
  <div class="mt-6 mx-auto">
    <p>{{ 'HOME_TAILWIND_CSS.FOR_THOSE_UNFAMILIAR' | translate }}</p>
  </div>
  <div class="mt-6 mx-auto">
    <tw-alert [type]="'info'" [appearance]="'border'">
      <span twAlertTitle>{{ 'ALERT.INFO' | translate }}</span>
      {{ 'HOME_TAILWIND_CSS.FOR_THOS_WONDERING' | translate }}<br>
      {{ 'HOME_TAILWIND_CSS.YOU_CAN_SET_UP_A_PURGE' | translate }}
    </tw-alert>
  </div>
</div>