<!-- Angular Material -->
<div class="relative mt-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1>
      <span class="block text-base text-center text-primary-500 font-semibold tracking-wide uppercase">Angular
        Material</span>
      <span class="mt-2 block text-2xl text-center text-nightBlue-500 dark:text-gray-100 leading-8 font-extrabold tracking-tight sm:text-2xl">A set of Angular
        components
        already available?</span>
    </h1>
  </div>
  <div class="mt-6 mx-auto">
    <p>Angular Material is a library of UI components based on Material Design that developers can use in their
      projects.
      Angular Material offers reusable and already tested components (buttons, cards, dropdowns and many more...) which
      is a great time saver when designing a user interface. (Pretty cool isn't it? 😊)
    </p>
  </div>
  <div class="mt-2 mx-auto">
    <p>The final work is to merge the functionality of Tailwind with the functionality of Angular Material. If you are
      interested, you can find this in the shared/material and shared/tailwind folders.
      To summarize, the idea is to create a Material Angular theme using the CSS classes and colours of Tailwind.
    </p>
  </div>
</div>