<!-- Angular Material -->
<div class="relative mt-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1>
      <span class="block text-base text-center text-primary-500 font-semibold tracking-wide uppercase">{{ 'HOME_ANGULAR_MATERIAL.ANGULAR_MATERIAL' | translate }}</span>
      <span class="mt-2 block text-2xl text-center text-nightBlue-500 dark:text-gray-100 leading-8 font-extrabold tracking-tight sm:text-2xl">
        {{ 'HOME_ANGULAR_MATERIAL.A_SET_OF_COMPONENTS' | translate }}
      </span>
    </h1>
  </div>
  <div class="mt-6 mx-auto">
    <p>{{ 'HOME_ANGULAR_MATERIAL.ANGULAR_MATERIAL_IS_A_LIBRARY' | translate }}
    </p>
  </div>
  <div class="mt-2 mx-auto">
    <p>
      {{ 'HOME_ANGULAR_MATERIAL.THE_FINAL_WORK' | translate }}
    </p>
  </div>
</div>